<div class="base-layer">
    <div class="count-down">
        <span>{{countDown}}</span>
    </div>
</div>
<div class="base">
    <span class="question">{{base}} x {{value}} = <span [style.color]="result">{{theAnswer}}</span></span>
    <div class="base-answer">
        <span class="option" (click)="onAnswer(0)">a: {{options[0]}}</span>
        <span class="option" (click)="onAnswer(1)">b: {{options[1]}}</span>
        <span class="option" (click)="onAnswer(2)">c: {{options[2]}}</span>
    </div>
    <div class="base-answers">
        <i *ngFor="let x of valueList; let i = index" class="fas fa-lg" [ngClass]="getIcon(i)" [style.color]="getColor(i)"></i>
    </div>
</div>
<div class="operation" (click)="onGoBack()">
    <i class="fas fa-chevron-left fa-2x"></i>
    <span>BACK</span>
</div>