<div class="base">
    <div (click)="gotoMenu(0)">
        <span>Times Table</span>
    </div>
    <div (click)="gotoMenu(1)">
        <span>Try Me</span>
    </div>
    <div (click)="gotoMenu(2)">
        <span>Challenge</span>
    </div>
    <div (click)="gotoMenu(3)">
        <span>Result</span>
    </div>
</div>
<div class="profile-base">
    <div class="profile-button" (click)="popup = false">
        <i class="fas fa-user fa-2x"></i>
    </div>
    <div class="profile-name">
        <span>{{profile}}</span>
    </div>
</div>
<div class="popup-base" [hidden]="popup">
    <div class="input-base">
        <div contentEditable="true" #input></div>
        <span>NAME</span>
    </div>
    <button class="ok" (click)="onSelect()">OK</button>
    <button class="cancel" (click)="popup = true">CANCEL</button>
</div>