:host {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #2ecc71;

    .base {
        position: absolute;
        width: 40rem;
        height: 25rem;
        left: 50%;
        top: 50%;
        margin-left: -20rem;
        margin-top: -12.5rem;
        font-family: 'Indie Flower', cursive;
        
        div {
            cursor: pointer;
            background-color: #2980b9;
            color: white;
            width: 30rem;
            height: 4rem;
            margin-left: 5rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
            font-size: 2.25rem;
            text-align: center;
            border-radius: 1rem;
            border: 4px solid white;

            span {
                height: 4rem;
                line-height: 4rem;
            }
        }
    }

}